.about-hz {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.about-left {
  width: 65%;
}

#about-description {
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: UbuntuRegular;
}

.about-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}

#about-logo {
  position: absolute;
}

.social-logo {
  padding: 0 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  pointer-events: all;
}

.social-logo:not(:hover) path {
  fill: black;
}

#about-social-media {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-address {
  font-size: 14px;
  text-align: center;
  font-family: UbuntuRegular;
  padding: 0 10px;
}

#about-address p{
  margin: 0;
}

#about-phrase {
  margin-top: 25px;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: UbuntuRegular;
  font-weight: bold;
}

#bottom-about {
  margin-top: 15px;
}