#artist-title {
  font-size: 2.5vw;
  color: black;
  font-family: DrukMedium;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}

#artist-hz {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

#artist-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-right: 40px;
  max-height: 80vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#artist-left::-webkit-scrollbar {
  display: none;
}

#artist-image {
  border-radius: 5px;
}

#artist-right {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  max-height: 80vh;
  overflow: hidden;
}

#artist-description {
  font-size: 1.2em;
  text-align: left;
  font-family: UbuntuRegular;
  flex: 1;
}

#artist-description p {
  margin: 0;
  margin-bottom: 1em;
}

#artist-contact {
  margin-top: 1rem;
  font-size: 1.2em;
  font-family: UbuntuRegular;
  text-align: right;
}

.artist-social-logo {
  padding: 10px 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  pointer-events: all;
}

.artist-social-logo:nth-of-type(1) {
  padding-left: 0px;
}
.artist-social-logo:not(:hover) path {
  fill: black;
}

@media (max-width: 768px) {
  #artist-title {
    font-size: 3.5em;
    background-color: transparent;
    color: white;
    border-color: white;
  }

  #artist-hz {
    flex-direction: column-reverse;
  }

  #artist-right {
    display: flex;
    max-width: 100vw;
    max-height: 50vh;
    overflow: hidden;
    align-items: stretch
  }

  #artist-left {
    margin-top: 10px;
    overflow: auto;
    max-height: initial;
  }

  #artist-contact {
    text-align: center;
  }

  .artist-social-logo:not(:hover) path {
    fill: white;
  }

  #artist-image {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}
