#wrapper {
  display: flex;
  justify-content: row;
  width: 100%;
}

.artists-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    
}

.artist-link-container {
    display: flex;
    flex: 1;
    margin-bottom: 20px;
}