/* File: font.css */
@font-face {
  font-family: "DrukMedium";
  src: local("DrukMedium"), url("./fonts/DrukMedium.otf") format("opentype");
}
@font-face {
  font-family: "UbuntuRegular";
  src: local("UbuntuRegular"),
    url("./fonts/Ubuntu-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "UbuntuBold";
  src: local("UbuntuBold"), url("./fonts/Ubuntu-Bold.ttf") format("truetype");
}

.App {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 12px;
  /* background-color: white; */
  font-size: 15px;
  font-family: UbuntuRegular;
}

#background-bottom {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("./loui-01.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#background-bottom-logo {
  position: fixed;
  bottom: 23vh;
  right: 0;
  width: 22vw;
}

#background-bottom-year {
  font-family: UbuntuRegular;
  position: fixed;
  bottom: 35px;
  right: 60px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
  filter: blur(0.5rem);
  background-blend-mode: screen;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.with-background .artist-link {
  background-color: transparent;
}

#mobile-bottom-logo {
  display: none;
}

@media (max-width: 768px) {
  body {
    background-color: #1f1f1f;
    color: white;
  }
  .App {
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 12px;
    padding-bottom: 0px;
  }
  #mobile-bottom-logo {
    display: block;
    width: 200px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    mix-blend-mode: difference;
  }
  #mobile-arrow-down {
    fill: white;
    position: fixed;
    bottom: 10px;
    width: 25px;
    right: 5px;
    z-index: 200;
    transform: scale(0.5);
  }  
}
